@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Cormorant:wght@300&family=Dancing+Script:wght@700&family=Fjalla+One&family=Josefin+Sans:ital,wght@1,700&family=Lobster&family=Mochiy+Pop+One&family=Niconne&family=Oswald:wght@500&family=Satisfy&display=swap');
div{
    background: url(./IMAGE/R.jpg);
     position: absolute; 
    background-size: cover;
    background-repeat: no-repeat;
    height: 620px;
    width: 100%;
}
button{
    height: 42px;
    width: 10%;
    border-radius: 10px;
    margin-left: 368px;
    margin-top: 36px;
    color:black;
    background-color: rgb(101, 175, 202);
    font-family: 'Oswald', sans-serif;

}
h2{
    margin-top: 141px;
    padding: 8px 18px;
    color: white;
    margin-left: 104px;
    font-family: 'Dancing Script', cursive;

}
span{
    margin-left: 198px;
}
button:hover{
    background-color: rgb(89, 201, 145);
    color: black;
}
